.contact-line {
  text-align: center;
  // position: relative;
  // margin-top: 40px;
  padding: 5px 0;
  line-height: 10px;
}

.contact {

  height: auto;

  i {
    // height: 30px;
  }

  a {
    color: $main-text-color;
    text-decoration: none;

    &:hover {
      color: $main-color;
    }
  }

  &.phone {
    @media only screen and (max-width: 770px) {
      position: relative;
      top: 17px;
    }
  }
}