.contact-line {
  text-align: center;
  padding: 5px 0;
  line-height: 10px;
}

.contact {

  height: auto;

  i {
    // height: 30px;
  }

  a {
    color: $main-text-color;

    &:hover {
      color: $main-color;
    }
  }

  &.phone {
    @media (max-width: 700px) {
      position: relative;
      top: -10px;
    }
  }
}