.hidden-small {
  @media only screen and (max-width: 770px) {
   display: none;
 }
 //   @media print {
 //  display: none;
 // }

}

.show-small {
  @media (min-width: 770px) {
   display: none;
 }

  @media print {
  display: none;
 }

}

@media (max-width: 360px) {

  .container {
      margin: 0;
      padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
}


body {
  @media print {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .phone {
  font-size: 9px;
  }

  .name {
    font-size: 23px;
    // display: none;
  }
}

@media only screen and (max-width: 230px) {
  .peng {
    display: none;
  }
}